.section0 {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.section0-left {
    margin: 5px;
    width: 48%
}
.section0-right {
    margin: 5px;
     width: 48%

}

@media (max-width: 767px){
    .section0 {
        display:flex;
        flex-direction: column;
    }

    .section0-left {
        margin: 0;
        width: 100%;
    }
    .section0-right {
        margin: 0;
        width: 100%;
    }
}